.image {
  width : 100%;
  height: 230px;
  object-fit: cover;
  transition: transform 2s, filter 3s ease-in-out;
}

.article {
  display: flex;
  flex-direction: column;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  overflow: hidden;
  height: 100%;
}

.article:hover img {
  opacity: 0.98;
  transform: scale(1.03);
  cursor:pointer;
}

@media screen and (max-width: 700px) {
  .image {
    height: 160px
  }
}